@font-face {
  font-family: Alice;
  src: local(Alice), url(../fonts/Alice-Regular.ttf);
}

html {
  height: 100%;
}

body {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #201e1e;
}

h1 {
  transition: color 10s ease;
  font-family: Alice;
  font-size: 15vw;

  background: linear-gradient(45deg, #e6a8b7, #eac4d6, #cbe5e8, #d2d8a3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #ffff;

  background-size: 200% auto;

  animation: textShine 5s ease-in-out infinite alternate;
}

button {
  font-family: Alice;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #201e1e;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: linear-gradient(45deg, #38292c, #362d31, #363c3d, #2f3026);
}

@keyframes textShine {
  to {
    background-position: 200% center;
  }
}
